@import "theme/default";

@import "structure/TableConfig.Select";
@import "style/TableConfig.Select";
@import "structure/dialog";
@import "style/dialog";

html,body {
	width:100%;
	height: 100%;
	margin: 0;
}

#actions {
	border:0 none;
	padding:1ex 0 0 0;
	button {
		.tooltip(@attr:accesskey,@content:~'"Accesskey "attr(accesskey)',@direction:left,@distance:0,@additions:{
			font-size:.8rem;
		});
		.tooltip-fadeIn(@delay:.5s,@time:@fadeTime*2);
	}
}
.TableConfig {
	width:100%;
	[data-type="USER"] + [data-type="ROLE"] {
		border-top: 1ex solid;
	}
}
:invalid {
    box-shadow: 0 0 1ex .25ex red;
}
.errorMessage {
	background-color:red;
	color:white;
}