html,body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	background-color: darkgray;
}
.field, .field-add {
	margin: 1ex;
	padding: 1ex;
	width: 10em;
	height: 10em;
	box-sizing: border-box;
	background: darkgoldenrod;
}
.field {
	display: grid;
	grid-template: "name state"
					"path path"
					"neighbors neighbors";
}
.field[data-state="open"] {
	background-color: #00bb00;
}
.field[data-state="close"] .field-state[data-action="close"] {
	display: none;
}
.field-name {
	grid-area: name;
}
.field-state {
	grid-area: state;
	font-size: 2em;
	height: 1.5em;
	text-align: right;
	cursor: pointer;
}
.field-path {
	grid-area: path;
}
.field-neighbors {
	grid-area: neighbors;
}

.field-add {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.field-add input {
	width: 100%;
	box-sizing: border-box;
}